.searchBar {
    border: 1px solid #85FFBD;
    border-radius: 5px;
    padding: 10px;
    display: block;
    background-color: #c9fce1;
    margin-bottom: 1em;

    &__input {
        background: white;
        padding: 0.5em;
        color: #333;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 0.5em;
        display: block;

        &:focus { 
            outline: 1px solid #3ad683;
            border-color: white;
        }
    }
}